
    <main>
        <!-- Start Add Photo Section -->
        <div class="editPage">
            <h2>Edit photo</h2>
            <!-- Start Add Photo Form -->
            <form method="POST">
                <p>
                    <input type="text" name="name" placeholder="" value="{{name}}">
                </p>

                <p>
                    <input type="number" name="age" placeholder="" value="{{age}}">
                </p>

                <p>
                    <textarea type="text" name="description" placeholder="">{{description}}</textarea>
                </p>

                <p>
                    <input type="text" name="location" placeholder="" value="{{location}}">
                </p>

                <p>
                    <input type="text" name="image" placeholder="" value="{{image}}">
                </p>
                <!-- Add Photo Button -->
                <button class="edit-btn" type="submit">Edit Photo</button>
            </form>
        </div>
    </main>